.nav1 li  {
	color:red;	
}

body,p,h1,h2,h3,h4,h5,h6{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.first-menu{

	width: 100%;
	padding-bottom: 0px;
	background-color: black;
	padding-top: 1px;

}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
/*.first-menu ul li {
    list-style-type: none;
    text-decoration-style: none;
    color: orange;
    padding-top: 10px;
    float: left;
    margin: 0 2px 0 3px 0;
    padding: 0px;
    margin-left: 50px;
    font-size: 18px;
}
.first-menu ul li a{
	color:orange;
	text-decoration: none;
	list-style-type: none;
}*/
#spanel{
	display: none;
}
.header{
	width: 100%;
	padding-bottom: 100px;
	
}
.logo img{

width: 170px;
height: 70px;
padding-top: 10px;
margin-left: 90px;
float: left;
}

.header-menu ul li {
    list-style-type: none;
    text-decoration-style: none;
    color: black;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    font-weight: bold;
}
.header-menu ul li a{
	list-style-type: none;
	text-decoration: none;
	color:black;
}
.search {
    margin-left: 150px;
    float: left;
    margin-top: 15px;
}
.search input{
	width: 230px;
	height: 30px;
}
.templates{
	width: 100%;
	padding-bottom: 0px;
	text-align: center;

}
.templates h1{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 40px;
	
}
.templates img{
  margin-left: 0px;
}
/*.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    width: 20%;
    margin-left: 55px;
    float: left;
    font-weight: bold;
   border-color: white;
}
.pencil-image{
	width: 30%;
	height: 50px; 
	border-radius: 50%;
	background-color: orange;

}*/
.icons{
	width: 100%;
	padding-bottom: 320px;
	padding-top: 40px;
	/*border: 1px solid black;*/
}
.first{
	width: 20%;
	float: left;
	padding-bottom: 5px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 80px;
	text-align: center;
}
.second{
	width: 20%;
	float: left;
	padding-bottom: 5px;
	margin-top: 10px;
	/*border: 1px solid black;*/
	margin-left: 30px;
	text-align: center;
}
.third{
	width: 20%;
	float: left;
	margin-top: 10px;
	padding-bottom: 5px;
	/*border: 1px solid black;*/
	margin-left: 30px;
	text-align: center;
}
.fourth{
	width: 20%;
	float: left;
	margin-top: 10px;
	padding-bottom: 5px;
	/*border: 1px solid black;*/
	margin-left: 30px;
	text-align: center;
}
.pencil-icon img{
	width: 30%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: white;
}
.layer1{
	/*border: 1px solid black;*/
	width: 100%;
	background-color: orange;
	border-radius: 50%;
}
.layer2{
	/*border: 1px solid black;*/
	width: 100%;
	background-color: orange;
	border-radius: 50%;
}
.layer3{
	/*border: 1px solid black;*/
	width: 100%;
	background-color: orange;
	border-radius: 50%;
}
.layer4{
	/*border: 1px solid black;*/
	width: 100%;
	background-color: orange;
	border-radius: 50%;
}
.pencil-head p{
	width: 90%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}
.pencil-matter p{
	width: 90%;
	padding-bottom: 0px;
	margin-top: 10px;
	/*border: 1px solid black;*/
	margin-left: 10px;
}
.mic-icon img{
	width: 30%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	background-color: white;
	border-radius: 50%;
}
.mic-head p{
	width: 90%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}
.mic-matter p{
	width: 90%;
	padding-bottom: 0px;
	margin-top: 10px;
	/*border: 1px solid black;*/
	margin-left: 10px;
}
.bell-icon img{
	width: 30%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	background-color: white;
	border-radius: 50%;
}
.bell-head p{
	width: 90%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}
.bell-matter p{
	width: 90%;
	padding-bottom: 0px;
	margin-top: 10px;
	/*border: 1px solid black;*/
	margin-left: 10px;
}
.love-icon img{
	width: 30%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	background-color: white;
	border-radius: 50%;
}
.love-head p{
	width: 90%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}
.love-matter p{
	width: 90%;
	padding-bottom: 0px;
	margin-top: 10px;
	/*border: 1px solid black;*/
	margin-left: 10px;
}
.blog-container{
	width: 100%;
	padding-bottom: 650px;
	/*border: 1px solid black;*/
	text-align: center;
}
.blog-head h1{
font-weight: bold;
font-size: 20px;
text-align: center;
padding-top: 15px;
}
.first-image{
	width: 25%;
	padding-bottom: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 100px;
	margin-top: 30px;
	background-image: url("post1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.second-image{
	width: 25%;
	padding-bottom: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	background-image: url("post2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.third-image{
	width: 25%;
	padding-bottom: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	background-image: url("post3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.fourth-image{
	width: 25%;
	padding-bottom: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 100px;
	margin-top: 60px;
	background-image: url("post4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.fifth-image{
	width: 25%;
	padding-bottom: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 50px;
	margin-top: 60px;
	background-image: url("blogpost5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.sixth-image{
	width: 25%;
	padding-bottom: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 50px;
	margin-top: 60px;
	background-image: url("post6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.first-image p,.second-image p,.third-image p,.fourth-image p,.fifth-image p,.sixth-image p{
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    background-color: black;
    opacity: 1px solid black;
}
.says{
	width: 100%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
}
.says-head{
	text-align: center;
}
.says-head h1{
font-weight: bold;
font-size: 20px;
text-align: center;
padding-top: 15px;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
.slider-caption {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 160px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.border{
	width: 100%;
	border: 3px solid orange;
}
.footer{
	width: 100%;
	background-color:#F3F3F3;
	padding-bottom: 400px;
	/*border: 1px solid black;*/
	border-top:orange;
}
.getintouch{
	width: 40%;
	margin-top: 0px;
	margin-left: 30px;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	/*float: left;*/

}
.getintouch p{
	font-weight: bold;
	font-size: 20px;
	/*float: left;*/
}  
.followus{
	width: 40%;
	margin-right: 10px;
	margin-top: -40px;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	float: right;
}
.getintouch input[type="submit"] {
   /* position: absolute;*/
    right: 0;
    top: 0;
    width: 34px;
    height: 34px;
    background: url("sunscription.png");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    content: '';
    margin-top: 0;
    border: 0;
}
.followus p{
	font-size: 20px;
	font-weight: bold;
	float: right;
}
.fa fa-rss{
	letter-spacing: 10px;

}
.followus i{
	letter-spacing: 5px;
	margin-left: 20px;
	height: 20px;
	width: auto;
	padding-bottom: 20px;
}
.footer-sub{

	width: 100%;
	margin-left: 20px;
	text-align: center;
}
.footer-first{
	width: 22%;
	padding-bottom: 50px;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 40px;
	margin-left: 20px;
	text-align: left;
}
.footer-second{
	width: 22%;
	padding-bottom: 50px;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 40px;
	text-align: left;
	margin-left: 20px;
}
.footer-third{
	width: 22%;
	padding-bottom: 00px;
	margin-top: 40px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 20px;
	text-align: left;
}
.footer-fourth{
	width: 22%;
	padding-bottom: 50px;
	margin-left: 20px;
	/*border: 1px solid black;*/
	margin-top: 40px;
	float: left;
	text-align: left;
}
.footer-fourth p{
	text-align: left;
	color:#888;
	font-weight: bold;
}
.footer-first h3,.footer-second h3,.footer-third h3,.footer-fourth h3{
	font-size: 15px;
	font-weight: bold;

}
.footer-fourth ul li{
	list-style-type: none;
	text-decoration: none;
	font-weight: bold;
	color:#888;
	text-align: left;
}
.footer-fourth ul li::before {
	content: ">"; color: orange;
  display: inline-block; width: 1em;
  margin-left: -1em
}
.first-matter p{
	font-weight: bold;
	color:#888;
}
.shop-list ul li {

list-style-type: none;
text-decoration: none;
/*color:#888;*/
text-align: left;
font-weight: bold;
line-height: 30px;

}
.shop-list ul li a{
color:#888;	


}
.shop-list ul li::before {
	content: ">"; color: orange;
  display: inline-block; width: 1em;
  margin-left: -1em
}
.lists{
	width: 90%;
	/*border: 1px solid black;*/
	padding-bottom: 0px;
	margin-left: 10px;
}
.first-list{
	width: 90%;
	padding-bottom: 35px;
	margin-left: 10px;
	/*border: 1px solid black;*/
	margin-top: 5px;
}
.for-image img{
	width: 40%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 5px;
	margin-left: 10px;
	float: left;

}
.for-matter h3{
	width: 50%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	font-weight: bold;
}
.second-list{
	width: 90%;
	padding-bottom: 35px;
	margin-left: 10px;
	/*border: 1px solid black;*/
	margin-top: 5px;
}
.for-image2 img{
	width: 40%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 5px;
	margin-left: 10px;
	float: left;

}
.for-matter2 h3{
	width: 50%;
	padding-bottom: 0px;
	/*border: 1px solid black;*/
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	font-weight: bold;
}





#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:relative;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
max-width:523px;
min-width:250px;
padding:10px 50px;
/*border:2px solid gray;*/
border-radius:10px;
font-family:raleway;
background-color:#fff
}
p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:0px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}
/*.blog-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 15px;
}
.content-show span {
    color: #f78e21;
}
.content-hide {
    margin-top: 15px;
    display: none;
}*/
